{% extends 'blog/base.html' %} 
{% block content %}
<div class="content-outer">
	<div id="page-content" class="row">
		<div id="primary" class="ten offset-1 columns">
			<p class="post-meta">
			<span class="categories">
			<a class="enable-meta-link" href="{% url 'post_list' %}">Blog</a> /
			<a class="disable-meta-link">{{ post.title }}</a>
			</span>
			</p>
			<article class="post">
				<div class="entry-header cf">
					<h1>{{ post.title }}</h1>
				</div>
			{% if post.local_post_image %}
				<div class="post-thumb">
                  <img src="{{ post.local_post_image.url }}" alt="post-image" title="post-image">
               	</div>
            {% endif %}
				<div class="post-content">
					<p class="lead">{{ post.text }}</p>
				</div>
			</article>
			<div class="post-share">
				<div class="social-share-block">
				<a href="http://www.facebook.com/sharer.php?u=http://clean-mag-soratemplates.blogspot.in/2015/03/papilion-minter-savior_4.html" target="_blank">
				<span class="share-box">
				<i class="fa fa-facebook"></i>
				</span>
				</a>
				</div>
				<div class="social-share-block">
				<a href="http://twitter.com/share?url=http://clean-mag-soratemplates.blogspot.in/2015/03/papilion-minter-savior_4.html" target="_blank">
				<span class="share-box">
				<i class="fa fa-twitter"></i>
				</span>
				</a>
				</div>
				<div class="social-share-block">
				<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank">
				<span class="share-box">
				<i class="fa fa-pinterest"></i>
				</span>
				</a>
				</div>
				<div class="social-share-block">
				<a href="https://plus.google.com/share?url=http://clean-mag-soratemplates.blogspot.in/2015/03/papilion-minter-savior_4.html" target="_blank">
				<span class="share-box">
				<i class="fa fa-google-plus"></i>
				</span>
				</a>
				</div>
				<div class="social-share-block">
				<a href="http://clean-mag-soratemplates.blogspot.in/2015/03/papilion-minter-savior_4.html">
				<span class="share-box">
				<i class="fa fa-comment-o"></i>
				</span>
				</a>
				</div>
			</div>
			<div id="comments">
               	<h3>{{ post.comments.all|length}} Comments</h3>
				<ol class="commentlist">
				{% for comment in post.comments.all %}
					<li class="depth-1">
						<div class="comment-info">
						<cite>{{ comment.author }}</cite>
						<div class="comment-meta">
						<time class="comment-time" datetime="2014-01-14T23:05">{{ comment.created_date }}</time>
						</div>
						</div>
						<div class="comment-text">
						<p>{{ comment.text }}</p>
						</div>
					</li>
				{% empty %}
					<li class="depth-1">
						No comments here yet
					</li>
				{% endfor %}
				</ol>
            </div>
            <div class="respond">
				<h3>Leave a Comment</h3>
				<form method="post">
				{% csrf_token %}
				   <fieldset>
						<div class="cf">
							<label for="cName">Name<span class="required">*</span></label>
							{{ form.author }}
						</div>
						<div class="cf">
							<label for="cEmail">Gender<span class="required">*</span></label>
							{{ form.gender }}
						</div>
						<div class="cf">
							<label for="cWebsite">Your comment</label>
							{{ form.text}}
						</div>
						<button type="submit" class="submit">Submit</button>
					</fieldset>
				</form>
            </div> 
		</div>
	</div>
</div>
{% endblock content %}