p{
    margin: 5px !important;
}
.enable-meta-link{
	color: #c9a96e !important;
}
.disable-meta-link{
	color: #000;
}
.post-end{
    height: 20px;
    background-image: url('http://2.bp.blogspot.com/-lWtuzmwkh58/Vt-2YzPAw-I/AAAAAAAAAVU/QFb2YllSgxs/s000/divider.png');    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 23px;"
}